{% extends "layout.html" %} 
{% load static %}
{% block body %} 
<!-- contact banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">Contact Us</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span>Contact</li>
            </ul>
        </div>
    </div>
</section>
<!-- //contact banner -->



<!-- contact -->
<section class="w3l-contacts-12">
    <div class="contact-top pt-5">
        <div class="container py-lg-5 py-2">
            <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
                <h3 class="w3l-title-main">Want to get in touch?</h3>
            </div>
            <div class="d-grid cont-main-top">
                <!-- contact form -->
                <div class="contacts12-main">
                    <form action="#" method="post" class="main-input">
                        <div class="top-inputs d-grid">
                            <input type="text" placeholder="Name" name="w3lName" id="w3lName" required="">
                            <input type="email" name="email" placeholder="Email" id="w3lSender" required="">
                        </div>
                        <input type="text" placeholder="Phone Number" name="w3lName" id="w3lName" required="">
                        <textarea placeholder="Message" name="w3lMessage" id="w3lMessage" required=""></textarea>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary btn-style">Submit Now</button>
                        </div>
                    </form>
                </div>
                <!-- //contact form -->
            </div>
        </div>
        <!-- map -->
        <div class="map mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28762.007018911943!2d85.14609437187637!3d25.69611637500351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed5bea686c639b%3A0x175f57413c04b38d!2sSonepur%2C%20Bihar%20841101!5e0!3m2!1sen!2sin!4v1709761319022!5m2!1sen!2sin" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- //map -->
    </div>
</section>
<!-- //contact -->


{% endblock body %}